<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qubuxing.qbx">

    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="net.qubuxing.qbx.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qubuxing.qbx.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 协处理器计步权限 -->
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".QBXApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:taskAffinity="com.qubuxing.default"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data
                    android:scheme="app"
                    android:host="open">
                </data>
            </intent-filter>
            <intent-filter>
                <action android:name="qwerty"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="payResult"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.qubuxing.ThridBroeserActivity"
                  android:taskAffinity="com.qubuxing.default"
                  />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:label="@string/app_name"
            android:exported="true"/>



        <service android:name=".service.StepCounterService"/>
        <receiver
            android:name=".revicer.StepReciver"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name="com.qubuxing.step.TodayStepService"
            android:enabled="true"
            android:exported="false"
            android:process=":todaystep"
            android:launchMode="singleInstance"
            android:priority="1000">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <!--开机自启动-->

        <receiver
            android:name="com.qubuxing.step.TodayStepBootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 关机广播 -->
        <receiver android:name="com.qubuxing.step.TodayStepShutdownReceiver" >
            <intent-filter>
                <!-- 关机广播 -->
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <!--0点分隔alertmanager-->
        <receiver
            android:name="com.qubuxing.step.TodayStepAlertReceive"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="com.qubuxing.step.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <meta-data android:name="JPUSH_APPKEY" android:value="83a1b4a81c68be03438000bb"/>
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <!--<meta-data-->
            <!--android:name="com.qubuxing.qbx.http.MyGlideModule"-->
            <!--android:value="GlideModule"-->
            <!--/>-->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
        android:name="com.qq.e.ads.ADActivity"
        android:taskAffinity="com.qubuxing.default"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:taskAffinity="com.qubuxing.default"
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- targetSDKVersion >= 24时才需要添加这个provider。provider的authorities属性的值为 ${applicationId}.fileprovider，请开发者根据自己的${applicationId}来设置这个值 -->
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/gdt_file_path"/>-->
        <!--</provider>-->
        <!-- 如果targetSdkVersion设置值>=24，则强烈建议添加以下provider，否则会影响app变现效率 -->
        <provider
        android:name="com.baidu.mobads.openad.FileProvider"
        android:authorities="${applicationId}.bd.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/bd_file_paths"/>
    </provider>
        <!--Oppo广告-->
        <activity android:name="com.oppo.mobad.activity.AdActivity" />
          <service android:name="com.oppo.mobad.service.AdService" />
        <activity android:name="com.oppo.mobad.activity.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <!--<activity-->
            <!--android:name="com.oppo.mobad.activity.VideoActivity" -->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--     android:screenOrientation="sensor"/>-->

        <!--小米广告-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qubuxing.qbx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name="com.miui.zeus.mimo.sdk.activityProxy.ProxyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="com.qubuxing.qbx.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!--极光推送服务互相唤起-->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="om.qubuxing.qbx"/>
            </intent-filter>
        </service>

        <!--广点通视频-->
        <!--<activity-->
            <!--android:name="com.qq.e.ads.PortraitADActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />-->
        <!--<activity-->
            <!--android:name="com.qq.e.ads.LandscapeADActivity"-->
            <!--android:screenOrientation="landscape"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />-->
        <!-- 报红无影响 -->
        <service
            android:name="com.iflytek.voiceads.update.DownloadService"
            android:stopWithTask="true" />

        <!-- 报红无影响 -->
        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:taskAffinity="com.qubuxing.default"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="IFLYTEK_APPKEY_AD"
            android:value="5bf4c933" />

        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="d9828151"/>
    </application>

</manifest>